.color-nav {
    background-color: rgb(68, 245, 245);
}
.justify-content-end {
    text-align: right;
}
.Jumbo {
    margin-top: 10%;
    padding-bottom: 15%;
    font-size: large;
}
.Heading-jumbo-1 {
    color: red;
    font-size: 70px;

}
.Heading-jumbo-2 {
    
}